@use "$/styles/variables";
@use "$/styles/mixins";

.cardBlock {
  &Image {
    @include mixins.cardBaseStyle(flex-end, absolute);

    .imageWrapper {
      border-radius: inherit;
    }
  }

  &Svg {
    @include mixins.cardBaseStyle(flex-start, relative);

    .svgWrapper {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    .cardInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
