@use "$/styles/mixins";
@use "$/styles/variables";

.nav {
  padding: variables.$padding2 0;
  border-bottom: solid 1px variables.$color-neutral-100;
  height: variables.$nav-height;
}

.nav_options_wrapper {
  display: flex;
  gap: 1.5rem;
  width: variables.$standard-width;
  margin-inline: auto;

  .auth_wrapper {
    margin-left: auto;
  }
}

.logout_button {
  opacity: variables.$opacity-500;
  &:hover {
    cursor: pointer;
  }
}
