@use "$/styles/mixins";
@use "$/styles/variables";

.titleIdInfoContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: repeat(2, 1fr);

  .imageWrapper {
    max-height: 40rem;
    position: relative;

    img {
      @include mixins.imageBaseStyle;
      border-radius: variables.$border-radius-1;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: variables.$padding3;

    .mainInfo {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 4px;
    }

    .iconsWrapper {
      .iconWrapper {
        display: flex;

        img {
          size: 2rem;
          // border: solid 2px pink;
          background-color: variables.$color-neutral-900;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .extendedInfoWrapper {
      h2 {
        margin-bottom: 0.3rem;
      }
    }
  }
}
