@use "$/styles/mixins";
@use "$/styles/variables";

.layout_base {
  @include mixins.gridBaseStyle;
  @include mixins.layoutBaseStyle(2rem, calc(100vh - variables.$nav-height));
}

.layout_no_padding {
  @include mixins.gridBaseStyle;
  @include mixins.layoutBaseStyle(0, 100vh);
}

.title_id {
  overflow-x: hidden;
  .image_wrapper {
    border: solid 1px red;
    position: relative;
  }
}

.scrollContainer {
  padding: variables.$padding1 0;
  overflow-x: hidden;
  & .titleRowHeader {
    font-size: variables.$fs-700;
  }
}

.cardLayout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 1rem;
  padding: 1.5rem 0;
  overflow-x: scroll;
  white-space: nowrap;
}
