@use "mixins";
@use "variables";

.layout {
  @include mixins.gridBaseStyle;
  min-height: 100vh;
  padding: 3rem 0;
}

.titleRow {
  padding: variables.$padding1;
  overflow-x: hidden;
  & .titleRowHeader {
    font-size: variables.$fs-700;
  }
}

.cardLayout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 1rem;
  padding: 1.5rem 0;
  overflow-x: scroll;
  white-space: nowrap;
}
