@use "variables";

// Composition
@mixin gridBaseStyle {
  display: grid;
  gap: 1rem;
  width: variables.$standard-width;
  margin-inline: auto;
}

@mixin layoutBaseStyle($padding, $height) {
  min-height: $height;
  padding: $padding 0;
  position: relative;
}

// Utility
@mixin imageBaseStyle {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Block
@mixin cardBaseStyle($contentOrientation, $imagePosition) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: $contentOrientation;
  padding: variables.$padding1;
  border-radius: variables.$border-radius-1;
  background-color: variables.$color-neutral-100;
  color: variables.$color-neutral-1000;
  min-height: 22rem;

  .primaryImage {
    position: $imagePosition;
    @include imageBaseStyle;
    z-index: 1;
    border-radius: inherit;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 8rem,
      rgba(0, 0, 0, 0) 23rem
    );
  }

  .cardInfoWrapper {
    position: relative;
    z-index: 10;
    overflow-x: hidden;

    .cardText {
      &:nth-of-type(1) {
        font-weight: variables.$fw-700;
      }

      &:nth-of-type(2) {
        font-size: variables.$fs-300;
      }
    }
  }
}

@mixin buttonBaseStyles($border_color, $background, $font_color) {
  background: $background;
  color: $font_color;
  border: solid 2px $border_color;
  padding: 0.4rem;
  font: inherit;
  outline: inherit;
  border-radius: variables.$border-radius-1;
}
