@use "variables";

// Composition
@mixin gridBaseStyle {
  display: grid;
  gap: 1rem;
  width: variables.$standard-width;
  margin-inline: auto;
}

// Utility
@mixin scrollXContainer {
  overflow-x: scroll;
}

// Block
@mixin cardBaseStyle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: variables.$padding1;
  // border: variables.$border-thin;
  border-radius: variables.$border-radius-1;
  background-color: variables.$color-neutral-100;
  color: variables.$color-neutral-1000;
  min-height: 22rem;

  & .image {
    // border: solid 2px red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: inherit;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 8rem,
      rgba(0, 0, 0, 0) 23rem
    );
  }

  & .svg {
    z-index: 1;
    border-radius: inherit;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 8rem,
      rgba(0, 0, 0, 0) 23rem
    );
  }

  & .cardText {
    position: relative;
    z-index: 10;

    &:nth-of-type(1) {
      font-weight: variables.$fw-700;
    }

    &:nth-of-type(2) {
      font-size: variables.$fs-300;
    }
    // color: variables.$color-neutral-100;
  }
}
