@use "variables";

.input {
  padding: variables.$padding1;
  min-width: 25rem;
  border: none;
  border-bottom: variables.$border-thin;
}

.searchResults {
  background: variables.$color-neutral-100;
  color: variables.$color-neutral-900;
}

.searchResult {
  list-style: none;
  padding: variables.$padding1;

  &:hover {
    background: variables.$color-neutral-900;
    color: variables.$color-neutral-100;
    outline: solid 1px variables.$color-neutral-100;
  }
}
