// box shadows
// gradients
// border radii
$border-radius-1: 10px;
$border-radius-5: 30px;
$border-radius-10: 50px;

// colors
$color-neutral-100: #fff;
$color-neutral-900: #1f3049;
$color-neutral-1000: #05080d;
$color-primary-400: #0066ff;

// font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px
$fs-300: 1rem; // 16px

// font-weights
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-36: 2.25rem;

// padding/margins
$padding1: 0.5rem;
$padding2: 1rem;
$padding3: 2rem;

// borders
$border-thin: 1px solid $color-neutral-900;
